/* Importerer skrifttyper Montserrat og Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
/* Definerer hovedfont som montserrat sans */
$mainFont: "Montserrat", sans-serif;

/* setter box-sizing til border-box for alle elementer */
*{
    box-sizing: border-box;
}

/* definerer SCSS-mixin for enklere gridplassering */
@mixin grid-placement($column, $row){
    grid-column: #{$column};
    grid-row: #{$row};
}

/* begrenser sidens bredde til max 1200px for lesbarhet og sentrerer horisontalt */
#container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* setter standardfont og fjerner margin på bodyelementet */
body{
    font-family: $mainFont;
    margin: 0;
}